html, body {
    height: 100%;
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}

h1 {
    font-size:40px;
    margin:20px 0;
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: grid;
    grid-template-columns: 10% auto;
    height: 100%;
}

aside {
    background-color: #f4f4f4;
    margin:0;
    text-align: center;
}

article {
    padding:15em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 18px 18px 0px #d5d5d5;
}

p {
    line-height: 1.5;
    font-size:20px;
}
img {
    width:100px;
    position: sticky;
    position: -webkit-sticky;
    top:calc(50% - 50px);
}